@import url(https://fonts.googleapis.com/css?family=Bangers);
.container{
    //  background:radial-gradient(#E5E5E5,#ffff,#E5E5E5);
    background:white;
      font-family: 'Bangers';
}
.tarjeta{
    width: 20rem;
        box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253) !important;
}
.cuerpo-tarjeta{
    padding: 3rem 0 !important;
}
.texto-tarjeta{
    font-size: 0.9rem;
    padding: 0.4rem 1.9rem;
}
#logo{
    width: 950px;
}