body {
  background-image: url('../img/fondo.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

// @import './navbar.scss';
// @import './footer.scss';
// @import './home.scss';
// @import './carousel.scss';
// @import './layout.scss';

// .form-view {
//     padding-top: 5%;
//     display: flex;
//     flex-direction: column;
//     width: 75%;
//     margin: 0 auto;
//     min-height: 85vh;
//     align-items: center;
// }
